<footer class="site-footer">
    <p class="text">
        &copy; Paymentshield Limited {{ "now" | date: "%Y" }}
	</p>
	<p class="text">
		As the developers at Paymentshield, we're so passionate about we do that we decided to try stringing sentences together instead of code, to create this blog you see right here. We think it's nifty, and we hope you like it too.
	</p>
	<p class="text">
		<a href="#top">Back to top</a>
	</p>
	<div class="footer-icons">
		<ul>
		{% include icons.html %}
		</ul>
	</div>
</footer>
