h1.title {
  @extend .header-txt-shadow;
  padding: $title-padding 0;
}

#main .post-info {
  // @extend .header-txt-shadow;
  padding: 0.5em 1em;
  background: rgba(10, 10, 10, 0.5);
}

.subtitle {
  font-weight: normal;
  margin-top: 5px;
  text-shadow: 1px 1px 2px $text-shadow;
}

//Shared css in _post.scss
